Repository timkins666/user-db: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3.13

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
    exclude: docker-compose
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/hadolint/hadolint
  rev: v2.12.0
  hooks:
  - id: hadolint-docker
- repo: local
  hooks:
  - id: eslint
    name: ESLint
    entry: npx eslint
    language: system
    args: [--no-warn-ignored, --config, ./frontend/eslint.config.js, --fix, ./frontend/.]
    exclude: .json|backend|coverage
    require_serial: true
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.5
  hooks:
  - id: shellcheck
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: ./backend/.venv/bin/pylint
    language: system
    types: [python]
    args: [--ignore-patterns=venv]

react frontend/docker stuff
  README.md
  docker-compose.yml
  frontend/Dockerfile
  frontend/eslint.config.js
  frontend/index.html
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/CreateUserDialog.test.tsx
  frontend/src/__tests__/components/UserTable.test.tsx
  frontend/src/__tests__/services/userService.test.ts
  frontend/src/__tests__/types/user.test.ts
  frontend/src/assets/react.svg
  frontend/src/components/CreateUserDialog.tsx
  frontend/src/components/DeleteUserDialog.tsx
  frontend/src/components/UserTable.tsx
  frontend/src/hooks/useUsers.ts
  frontend/src/main.tsx
  frontend/src/services/userService.ts
  frontend/src/setupTests.ts
  frontend/src/types/constants.ts
  frontend/src/types/user.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  scripts/dev-setup.sh
Due: eslint

add .net backend
  backend-dotnet/.gitignore
  backend-dotnet/Dockerfile
  backend-dotnet/api-tests/CustomWebApplicationFactory.cs
  backend-dotnet/api-tests/Endpoints/UserEndpointsTests.cs
  backend-dotnet/api-tests/Models/Dto/UserDtoTests.cs
  backend-dotnet/api-tests/Models/PostgresDbContextTests.cs
  backend-dotnet/api-tests/Models/UserTests.cs
  backend-dotnet/api-tests/TestDbContext.cs
  backend-dotnet/api-tests/api-tests.csproj
  backend-dotnet/api/Endpoints/UserEndpoints.cs
  backend-dotnet/api/Models/DBContext.cs
  backend-dotnet/api/Models/Dto/User.cs
  backend-dotnet/api/Program.cs
  backend-dotnet/api/Properties/launchSettings.json
  backend-dotnet/api/api.csproj
  backend-dotnet/api/api.http
  backend-dotnet/api/appsettings.Development.json
  backend-dotnet/api/appsettings.json
  docker-compose.yml
Due: eslint

update readme
  README.md
Due: eslint

pnpm update
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: eslint

readme lint tweaks
  README.md
Due: eslint

initial jwt stuff
  .github/copilot-instructions.md
  .python-version
  README.md
  backend-dotnet/api/appsettings.Development.json
  backend-dotnet/api/appsettings.json
  backend-fastapi/Dockerfile
  backend-fastapi/pyproject.toml
  backend-fastapi/src/userdb/auth.py
  backend-fastapi/src/userdb/db.py
  backend-fastapi/src/userdb/main.py
  backend-fastapi/src/userdb/middleware.py
  backend-fastapi/src/userdb/routers/auth.py
  backend-fastapi/src/userdb/routers/users.py
  backend-fastapi/src/userdb/utils/__init__.py
  backend-fastapi/src/userdb/utils/log.py
  backend-fastapi/uv.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Login.tsx
  frontend/src/UserManagement.tsx
  frontend/src/__tests__/services/userService.test.ts
  frontend/src/auth/authApi.ts
  frontend/src/auth/authToken.ts
  frontend/src/config/constants.ts
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/userService.ts
  frontend/vite.config.ts
  pyproject.toml
  uv.lock
Due: eslint, pylint

proactive token refresh
  backend-fastapi/src/userdb/auth.py
  frontend/package-lock.json
  frontend/src/__tests__/services/authService.test.ts
  frontend/src/auth/authApi.ts
  frontend/src/auth/authToken.ts
  frontend/src/services/authService.ts
Due: eslint, pylint

use refresh token to poke for active session
  backend-fastapi/pyproject.toml
  backend-fastapi/src/userdb/auth.py
  backend-fastapi/src/userdb/routers/auth.py
  backend-fastapi/test/routers/test_auth.py
  docker-compose.yml
  frontend/src/main.tsx
  uv.lock
Due: eslint, pylint

dev env file
  frontend/.env.development
  frontend/src/config/constants.ts
  frontend/vite.config.ts
Due: eslint

fix frontend tests
  backend-fastapi/src/userdb/middleware.py
  frontend/src/__tests__/services/userService.test.ts
  frontend/src/components/CreateUserDialog.tsx
  frontend/src/components/UserTable.tsx
  frontend/src/config/constants.ts
  frontend/src/services/api.ts
  frontend/src/types/constants.ts
  frontend/src/types/user.ts
Due: eslint, pylint

fix python auth tests
  backend-fastapi/src/userdb/auth.py
  backend-fastapi/test/conftest.py
  backend-fastapi/test/routers/test_auth.py
  backend-fastapi/test/routers/test_users.py
Due: pylint

dev vite stuff
  frontend/vite.config.ts
Due: eslint

add username display
  backend-fastapi/src/userdb/auth.py
  backend-fastapi/src/userdb/routers/auth.py
  frontend/src/UserManagement.tsx
  frontend/src/__tests__/components/TopBannerStripe.test.tsx
  frontend/src/auth/authApi.ts
  frontend/src/auth/authToken.ts
  frontend/src/auth/jwt.ts
  frontend/src/components/TopBannerStripe.tsx
  frontend/src/main.tsx
Due: eslint, pylint

frotend pages dir
  frontend/src/Login.tsx
  frontend/src/UserManagement.tsx
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/UserManagement.tsx
Due: eslint

add logout
  backend-fastapi/src/userdb/middleware.py
  backend-fastapi/src/userdb/redis.py
  backend-fastapi/src/userdb/routers/auth.py
  backend-fastapi/test/routers/test_auth.py
  frontend/src/Login.tsx
  frontend/src/UserManagement.tsx
  frontend/src/__tests__/components/TopBannerStripe.test.tsx
  frontend/src/components/TopBannerStripe.tsx
  frontend/src/main.tsx
  frontend/src/services/api.ts
Due: eslint, pylint

tweak pre-commit
  .pre-commit-config.yaml
  backend-fastapi/pyproject.toml
  frontend/src/__tests__/components/TopBannerStripe.test.tsx
  frontend/src/auth/authApi.ts
  frontend/src/components/TopBannerStripe.tsx
  frontend/src/config/constants.ts
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
  pyproject.toml
  uv.lock
Due: eslint

fix vite env loading
  frontend/src/config/constants.ts
Due: eslint

logout icon
  frontend/src/components/TopBannerStripe.tsx
Due: eslint

add basic but still crappy styling
  frontend/src/components/TopBannerStripe.tsx
  frontend/src/components/UserTable.tsx
  frontend/src/main.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/theme/theme.ts
Due: eslint

add RBAC / fix lints
  .pre-commit-config.yaml
  .pylintrc
  backend-fastapi/src/userdb/auth.py
  backend-fastapi/src/userdb/main.py
  backend-fastapi/src/userdb/middleware/jwt_auth.py
  backend-fastapi/src/userdb/redis.py
  backend-fastapi/src/userdb/routers/auth.py
  backend-fastapi/src/userdb/routers/users.py
  backend-fastapi/src/userdb/utils/auth.py
  backend-fastapi/test/conftest.py
  backend-fastapi/test/routers/test_auth.py
  backend-fastapi/tests/__init__.py
  backend-fastapi/tests/conftest.py
  backend-fastapi/tests/middleware/test_jwt_auth.py
  backend-fastapi/tests/models/test_user.py
  backend-fastapi/tests/routers/test_auth.py
  backend-fastapi/tests/routers/test_users.py
  backend-fastapi/tests/test_main.py
  backend-fastapi/tests/utils/auth.py
  docker-compose.yml
  frontend/src/components/UserTable.tsx
  frontend/src/pages/UserManagement.tsx
  pyproject.toml
  uv.lock
Due: eslint, pylint

switch from jest to vitest
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/CreateUserDialog.test.tsx
  frontend/src/__tests__/components/UserTable.test.tsx
  frontend/src/__tests__/services/authService.test.ts
  frontend/src/__tests__/services/userService.test.ts
  frontend/src/config/constants.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint

update object check lambda for file types & guard duty malware result
  .pre-commit-config.yaml
  backend-fastapi/src/userdb/aws/sfn.py
  docker/.env.aws.blank
  docker/.gitignore
  platform/object_check_lambda/.gitignore
  platform/object_check_lambda/README.md
  platform/object_check_lambda/__init__.py
  platform/object_check_lambda/app/__init__.py
  platform/object_check_lambda/app/lambda_function.py
  platform/object_check_lambda/handler.py
  platform/object_check_lambda/package.sh
  platform/object_check_lambda/requirements.txt
  platform/object_check_lambda/tests/__init__.py
  platform/object_check_lambda/tests/test_lambda_function.py
  platform/process_document/sm.json
  pyproject.toml
  uv.lock
Due: eslint, pylint

add/fix tests oops
  .pre-commit-config.yaml
  backend-fastapi/pyproject.toml
  backend-fastapi/src/userdb/aws/textract.py
  backend-fastapi/src/userdb/redis.py
  backend-fastapi/tests/aws/test_s3.py
  backend-fastapi/tests/aws/test_sfn.py
  backend-fastapi/tests/aws/test_textract.py
  backend-fastapi/tests/conftest.py
  backend-fastapi/tests/middleware/test_jwt_auth.py
  backend-fastapi/tests/routers/test_auth.py
  backend-fastapi/tests/routers/test_documents.py
  frontend/src/components/CreateUserDialog.tsx
  platform/object_check_lambda/app/lambda_function.py
  platform/object_check_lambda/tests/test_lambda_function.py
  platform/process_document/README.md
  platform/process_document/sm.json
  pyproject.toml
  uv.lock
Due: eslint, pylint

add textract forms/forms&queries toggle to sfn/better capitalise
  backend-fastapi/src/userdb/aws/textract.py
  backend-fastapi/src/userdb/models/user.py
  backend-fastapi/tests/aws/test_textract.py
  frontend/src/components/CreateUserDialog.tsx
  frontend/src/types/document.ts
  platform/object_check_lambda/app/lambda_function.py
  platform/object_check_lambda/tests/test_lambda_function.py
  platform/process_document/sm.json
Due: eslint, pylint

textract lambda wrapper
  backend-fastapi/src/userdb/aws/sfn.py
  backend-fastapi/src/userdb/responses.py
  backend-fastapi/src/userdb/routers/documents.py
  platform/object_check_lambda/app/__init__.py
  platform/object_check_lambda/tests/__init__.py
  platform/process_document/sm.json
  platform/textract_runner/__init__.py
  platform/textract_runner/app/__init__.py
  platform/textract_runner/app/lambda_function.py
  platform/textract_runner/tests/README.md
  platform/textract_runner/tests/__init__.py
  platform/textract_runner/tests/test_lambda_function.py
Due: eslint, pylint

add pulumi setup
  platform/.gitignore
  platform/PULUMI-README.md
  platform/Pulumi.dev.yaml
  platform/Pulumi.yaml
  platform/__main__.py
  platform/components/__init__.py
  platform/components/_base.py
  platform/components/bucket.py
  platform/components/iam.py
  platform/components/lambda_.py
  platform/components/sfn.py
  platform/deploy.ps1
  platform/object_check_lambda/package.cmd
  platform/object_check_lambda/package.ps1
  platform/object_check_lambda/package.sh
  platform/process_document/sm.json
  platform/process_document_sfn/README.md
  platform/process_document_sfn/definition.py
  platform/utils/__init__.py
  platform/utils/config.py
  platform/utils/utils.py
  pyproject.toml
  uv.lock
Due: eslint, pylint

file moves and ssm parameters
  .pre-commit-config.yaml
  backend-fastapi/src/userdb/aws/s3.py
  backend-fastapi/src/userdb/aws/sfn.py
  backend-fastapi/src/userdb/aws/ssm.py
  backend-fastapi/tests/aws/test_s3.py
  backend-fastapi/tests/aws/test_ssm.py
  backend-fastapi/tests/conftest.py
  docker/.env.aws.blank
  platform/__main__.py
  platform/components/_base.py
  platform/resources/object_check_lambda/.gitignore
  platform/resources/object_check_lambda/README.md
  platform/resources/object_check_lambda/__init__.py
  platform/resources/object_check_lambda/app/__init__.py
  platform/resources/object_check_lambda/app/lambda_function.py
  platform/resources/object_check_lambda/package.cmd
  platform/resources/object_check_lambda/package.ps1
  platform/resources/object_check_lambda/package.sh
  platform/resources/object_check_lambda/requirements.txt
  platform/resources/object_check_lambda/tests/__init__.py
  platform/resources/object_check_lambda/tests/test_lambda_function.py
  platform/resources/process_document_sfn/README.md
  platform/resources/process_document_sfn/definition.py
  platform/resources/textract_runner/__init__.py
  platform/resources/textract_runner/app/__init__.py
  platform/resources/textract_runner/app/lambda_function.py
  platform/resources/textract_runner/tests/README.md
  platform/resources/textract_runner/tests/__init__.py
  platform/resources/textract_runner/tests/test_lambda_function.py
  platform/utils/config.py
Due: eslint, pylint

add guard duty malware scan rule
  platform/PULUMI-README.md
  platform/Pulumi.yaml
  platform/__main__.py
  platform/components/bucket.py
  platform/resources/guard_duty.py
  platform/utils/config.py
Due: eslint, pylint

re fixies
  backend-fastapi/src/userdb/models/document.py
  backend-fastapi/src/userdb/models/user.py
  frontend/src/types/user.ts
  pyproject.toml
Due: eslint, pylint
